body {
    margin: 0;
    padding: 0;

    font-family: 'Noto Serif Vithkuqi', serif;
}

.container {
    margin: 50px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.profile {
    width: 400px;
    padding: 15px;
    text-align: center;
    border: 5px solid black;
    background-color: salmon;
    border-radius: 20px;
}

.socialMedia {
    border: 5px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.socialMedia a {
    border-radius: 8px;
    padding: 20px 24px;
    background-color: #F2F7FC;
}

.biodata {
    padding: 33px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.biodata .biodata-item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.biodata .biodata-item .biodata-item-image {
    width: 24px;
    height: 24px;
}

.biodata .biodata-item .biodata-text-wrapper {
    text-align: start;
}

.biodata .biodata-item .biodata-text-wrapper .biodata-item-text {
    margin: 0;
    padding: 0;
}

.biodata .biodata-item .biodata-text-wrapper .biodata-item-text.title {
    color: rgba(26, 16, 3, 0.5);
}

.biodata .download-button {
    background-color: #FF9C1B;
    padding: 12px 20px;
    border-radius: 20px;
    width: 185px;
    color: white;
    font-weight: bold;
    box-shadow: none;
}


.container2 {
    padding: 0px 20px;
}

.navbar {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-wrapper {
    display: flex;
    gap: 40px;
}

.navbar .nav-wrapper nav {
    width: 80px;
    padding: 10px;
    height: 80px;
    border: 2px solid black;
    border-radius: 16px;
    background-color: #E1E8EF;
}

.navbar .nav-wrapper nav:hover {
    background-color: #FF9C1B;
}

.navbar .nav-wrapper nav:hover a {
    color: white;
}

.content {
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: yellow;
}

.container3 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.webdev {
    height: 300px;
    margin: 20px;
    padding: 15px;
    background-color: white;
}

.color-red {
    color: red;
}